a{color:#999;text-decoration: none;}
a:hover{color:#2196f3;}
ul, figure{margin:0;padding: 0;list-style: none;}
button{cursor: pointer;border-radius: 5px;}
#cover_container{max-height: 50vh;position:relative;overflow: hidden;}
#cover_container img{width:100%;}
#cover_container figcaption{position: absolute;top:30%;width:100%;text-align: center;color:white;}
#cover_container figcaption h1{text-shadow: 1px 2px 4px rgba(0,0,0,0.5)}

.main_nav{width:100vw;background-color: #111;}
.main_nav ul{width:100%; height:100%; display: flex; flex-direction: row;}
.main_nav ul li{margin-right: 16px; padding:28px 8px;}
.nav_item:last-child{cursor: pointer;}

/*ITEM*/
.sections{padding:0 18px;}
.item_pool{display: flex;flex-wrap: wrap;justify-content: space-between;margin-top:30px;}
.item_container{width:calc(100vw / 3.333);margin-bottom:30px;padding:8px;box-shadow: 1px 2px 4px rgba(0,0,0,0.4)}
.item_container img{width:100%;}

.show_all_container{width:100%;text-align: center;}
.show_all{border:1px solid tomato; color:tomato; background-color: white;padding:24px;outline: none;box-shadow: 1px 2px 4px rgba(0,0,0,0.5);}
.show_all:hover{color:#FF4500;box-shadow: 1px 1px 1px rgba(0,0,0,0.5);}

.cat_btn_container{width:40%;margin:0 auto;display: flex;flex-wrap: wrap;flex-direction: row;}
.cat_btn_container a{border-style: none;border:1px solid #2196f3; padding:24px; background-color: white; color:#2196f3;width:120px;margin:16px;box-shadow: 1px 2px 4px rgba(0,0,0,0.5);}
.cat_btn_container a:hover{box-shadow: 1px 1px 1px rgba(0,0,0,0.5);}

.product_detail{display: flex;flex-direction: row;padding-top:5%;justify-content: space-between;}
.image_detail_container{max-width:50vw;flex-shrink: 0;}
.image_detail_container img{width:100%;height: auto}
.product_info_container{border:1px solid rgba(0,0,0,0.3);max-height: 250px;padding:16px;max-width: 30vw;}
.product_name_price{border-bottom:1px solid grey;}
.product_info_detail_container{display: flex;flex-direction: row;justify-content: space-between;}
.product_info_detail_container div{flex-shrink: 0;word-break:break-all;}
.product_name_price h3{text-align: right;}

#root{position: relative;}
.shopping_sidebar{width:0vw;background-color: rgba(255,255,255,0.5);position:absolute;top:0;right:0;bottom:0;z-index:9;}
.shopping_sidebar div.sc_header{background-color:#2196f3;padding:16px;}

.sc_item_container{background-color: white;padding:16px;}
.sc_item_container figure{text-align: center;}
.sc_item_container figure img{width:70%;}