.item_list{margin:0;padding:0;width:70%;}
.file__item div.grid--expanded{margin:0;padding:0;display: flex;width:100%;}
.file__item div.grid--expanded div.grid{display: flex;width:100%;}
.file__item div.grid--expanded div.grid span{padding:2%;}
.file__item div.grid--expanded div.grid span, .file__item div.grid--expanded div.grid p{flex-shrink:0;}
.file__button{flex-shrink: 0;width:30px;height:30px;}
.main_container{display: flex;}
.main_container .inner_elem{flex-shrink: 0;}
.main_container .sidebar{width:30%;}